<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

<% if [@citizen.organisation_id ,@citizen.first_name , @citizen.last_name , @citizen.prefix , @citizen.suffix , @citizen.salutation , @citizen.notes , @citizen.dob , @citizen.profile_title , @citizen.avatar.url ].any?(&:blank?) %>
<div class="col-lg-6">
<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link') %>
  <div class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>Warning - Incomplete Profile </h4>
  <p>Some of the information for this profile is empty or blank please complete the profile below.</p>
</div>
</div>
<div class="row"></div>
<%else %>
<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link') %>
<%end%>

              <h2><%="Edit "+ @citizen.fullname %> </h2>
              <div class="col-lg-6">

              <div class="panel-body">

<%= bootstrap_form_for(:citizen, :url => {:action => 'update', :id => @citizen.id}) do |f| %>

<div class="container-fluid well span6">
  <div class="row-fluid">
        <div class="span2" >
        <%= image_tag @citizen.avatar.url,  :class => "img-rounded img-responsive" %>
        </div>
      <%if @citizen.prefix.present? %>
      <br>
  <%= f.text_field :prefix, label: "Title"  %>
      <% else %>
      <div class="form-group has-warning">
      <%= f.text_field :prefix, label: "Title", placeholder: "This field has no information why not add some ?"  %>
      </div>
      <%end%>
  <%= f.text_field :first_name, label: "First Name"  %>
  <%= f.text_field :last_name, label: "First Name" %>
  <%= f.collection_select :organisation_id, Organisation.all, :id, :name %>
  <%= f.date_field :dob  %>
  <%= f.text_area :notes  %>
  <%= f.file_field :avatar %>
<%= f.submit "Update Citizen" , class: "btn btn-success" %>

</div>
</div>
</div>
</div>            
</div>


</div>
</div>
<%end%>
