

<h1>MLA Index</h1>
  

    <ul class="nav nav-tabs" style="margin-bottom: 15px;">

    <% @organisation.each do |o| %>


  <li class=""><a href="#<%= o.id%>" data-toggle="tab"><%=o.name %></a></li>
  <%end%>
</div>

<div id="myTabContent" class="tab-content">
<% @organisation.each do |o| %>

  <div class="tab-pane fade active in" id="<%=o.id%>">


<% if o.citizens.present? %>
<% o.citizens.each do |c| %>
<% if c.avatar.present? %>

        <div class="col-xs-6 col-sm-2 col-md-3">            
            <div class="thumbnail">
                <div class="caption">
                    <p><a><%= button_to("Profile",{:action => 'show', :id => c.id}, :class => 'btn btn-default btn-md') %></a></p>
                    <p><a><%= button_to("Report",{:action => 'show', :id => c.id}, :class => 'btn btn-default btn-md') %></a></p>
                </div>
                <%= image_tag c.avatar.url(:thumb),  :class => "img-rounded img-responsive" %>
                <%= image_tag c.organisation.avatar.url(:smallthumb),  :class => "img-rounded img-responsive" %>
                <div class="text-center">
                <p class="text-info"><%= c.fullname %></p>
                </div>
            </div>
        </div>
        

      <%end%>
      <%end%>
      <%end%>
</div>
        
          <%end%>
      </div>
          </ul>

      

        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>