<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="citizens new">
<div class="row">

          <div class="col-lg-12">

            <div class="panel panel-default">
              <div class="panel-body">

              <%=if citizen.present %>

<div class="panel panel-default ">

              <div class="panel-heading">Create New Person</div>
              <div class="panel-body">

<%= bootstrap_form_for @citizen, :url => {:action => 'create'}, :html => { :multipart => true } do |f| %>
  <%= f.text_field :prefix, label: "Title"  %>
  <%= f.text_field :first_name, label: "First Name"  %>
  <%= f.text_field :last_name  %>
  <%= f.text_field :suffix  %>
  <%= f.text_field :salutation  %>
  <%= f.check_box  :extinct,{label: "Extinct"}, 1,0 %> 
  <%= f.collection_select :organisation_id, Organisation.all, :id, :name, :selected => @defaultorg %>
  This fields is used to store a persons constituency or business area.
  <%= f.collection_select :organisation_id, Area.all, :id, :name, :selected => @defaultorg %>

  <%= f.date_field :dob  %>
  <%= f.text_area :notes  %>
  <%= f.file_field :avatar %>
<%= f.submit "Create" , class: "btn btn-success" %>

</div>
</div>
</div>
</div>            
</div>


</div>
</div>
<%end%>
