<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Menu</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Biographical Reports</li>
          <li><a href="#">Short Report</a></li>
          <li><a href="#">Condensed Report</a></li>
          <li><a href="#">Long Report</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Crm Reports</li>
          <li><a href="#">Full Engagement Report</a></li>
          <li><a href="#">Report by Issue</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>
    <ul class="nav navbar-nav navbar-right">

      </li>
    </ul>
  </div>
</div>

<div class="col-md-12 column text-left">
    <div class="col-md-12 column text-left">

        <div class="col-md-3 column text-left">
            <div class="container-fluid well span4">
             <div class="row-fluid">
                 <div class="span4" >

                 <h3><%= @citizen.fullname%></h>

              <%= image_tag @citizen.avatar.url(:medium),  :class => "img-rounded img-responsive" %>

                </div>
        
                <div class="span8">

                    <h6><% if @citizen.dob.nil? %>  <%= "unknown"  %> <%else%> <%= @citizen.dob.to_formatted_s(:long)   %>
                    <% end %></h6>
                    <h6><%= @citizen.prefix %></h6>
                    <h6><%=@citizen.organisation.name%></h6>
                    <h6><a href="#">More... </a></h6>
                </div>

                <div class="span2">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            Action 
                        <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu" >
                        <li><a href="#"><span class="icon-wrench"></span><%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link',) %></a></li>
                     <li><a><span class="icon-trash"></span> <%= link_to("Delete", {:action => 'delete', :id => @citizen.id}, :class => 'action delete')%></a></li>
                     <li><%= link_to("Profile",{:action => 'report_long', :id => @citizen.id}, :class => 'action report_long') %></li>
                    </ul>

            </div>
        </div>
  </div>
</div>


        </div>
        <div class="col-md-6 column">
        </div>

            <div class="container-fluid well span8">
               <div class="row-fluid">
                 <div class="span2" >
                <div > <h3><i class="fa fa-list"></i> Contact Details </h3> 
                <%= button_to(" Add New ", { :controller => 'c_contacts', :action => 'createforcitizen', :id => @citizen.id}, :class => 'btn btn-info btn-xs',) %>
                <div>



                <%@contacts.each do |c|%>
                                <% if @contacts.present? %>
            <div class="col-lg-2 text-left">
               <div class="row-fluid">
                 <div class="span2" >
              
                <h4><i class="fa fa-home"></i> <%=  link_to(c.location, { :controller => 'p_contacts', :action => 'edit', :id => c.id}, :class => 'action edit')  %> 

                <% if c.public == true %> 
                    <%="(Public)"%> 
                    <%else%>
                    <%="(Private)"%>
                    <% end %>

                    </h4></li> 
                  <ul>

                    

                  <% if c.address_one.present? %>
                    <li><%=c.address_one%></li>
                    <% end %>

                    <% if c.address_two.present? %>
                    <li><%=c.address_two%></li>
                    <% end %>

                    <% if c.city.present? %>
                    <li><%=c.city%></li>
                    <% end %>

                    <% if c.postcode.present? %>
                    <li><%=c.postcode%></li>
                    <% end %>

                  </ul>

                  <% if c.telephone.present? %>
                  <i class="fa fa-phone"></i><%=  " "+c.telephone %>
                  <% end%>

                  <% if c.email.present? %>
                  <br><i class="fa fa-envelope-o"></i><%=" "%><%=  mail_to c.email%>
                  <% end%>

                  <% if c.website.present? %>
                  <br><i class="fa fa-globe"></i><%=" "%><%= link_to c.website, "http://#{c.website}" ,:target => "blank" %>
                  <% end%>

                <%end%>
                </div>
                </div>
                </div>
                <% end %>

              </div>
            </div>            
          </div>

</div>

</div>
  <div class="row">

  <% @citizen.c_profiles.each do |p| %>

  <div class="col-md-12 column text-left">

      <div class="panel panel-default">
        <div class="panel-heading">

          <h3 class="panel-title" ><%= p.profile_type + " Biography" %></h3>

          <span class="pull-right clickable"><i class="fa fa-chevron-up"></i></span>

        </div>
        <div class="panel-body"><%=p.profile%></div>

      </div>

    </div>


     
<%end%>
</div>




        <div class="col-md-4 column">

<div class="panel panel-default">
                  <div class="panel-heading">
                          <a href="#" class="btn btn-info btn-xs pull-right">Add New</a>
                    <h3 class="panel-title"><%=  link_to('Key Roles ', { :controller => 'c_posts', :action => 'index', :citizen_id => @citizen.id}, :class => '#')  %> <span class="badge"><%= @citizen.c_posts.count%></span></a>
                    </h3>

                  </div>
                  <div class="panel-body">
                     <table class="table table-hover table-striped tablesorter display" >
                      <thead>
                                      <tr>
                                      <th></th>
                                      <th></th>

                     </tr>
                  </thead>
                  <tbody>

                                    <% @citizen.c_posts.each do |p| %>
                                    <% if @citizen.c_posts.present? %>
                                    <tr>
                                    <td><%= image_tag p.organisation.avatar.url(:smallthumb),  :class => "img-rounded img-responsive" %></td>
                                      <td><%= p.organisation.name.to_s+" - "+p.title.to_s+" - "+p.area.name.to_s%></td>

                                  </tr>
                                  <% else %>
                                  <tr>
                                  <td> This Person has no posts</td>
                                  <td> </td>
                                  </tr>
                                  <%end%>
                                  <%end%>
                                  
                              </tbody>

                      </table>

        </div>
                  </div>
                </div>


         
        <div class="col-md-4 column">

                        <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%=  link_to('Meetings ', { :controller => 'c_posts', :action => 'index', :citizen_id => @citizen.id}, :class => '#')  %> <span class="badge"><%= @citizen.crm_meetings.count%></span></a>
                    </h3>
                  </div>
                  <div class="panel-body">
                    <%=pie_chart @citizen.crm_meetings.joins(:crm_determination).group('determination').count, colors: ["#e74c3c","#f39c12", "#18bc9c","#3498db","grey"] %>
                    
                  </div>
                </div>

        </div>
                <div class="col-md-4 column">

                        <div class="panel panel-default">
                  <div class="panel-heading">
                  <a href="#" class="btn btn-info btn-xs pull-right">Add New</a>
                  <h3 class="panel-title"><%=  link_to('Recent Meetings', { :controller => 'crm_meetings', :action => 'index', :citizen_id => @citizen.id}, :class => '#')  %> 
                    </h3>
                  </div>
                  <div class="panel-body">
                     <table class="table table-hover table-striped tablesorter display" >
                      <thead>
                                      <tr>
                                          <th>Issue/Scheme</th>
                                      <th>Date</th>
                                      <th>Determination</th>

                     </tr>
                  </thead>
                  <tbody>

                                    <% @recentmeetings.each do |p| %>
                                    <tr>
                                      <td><%=p.crm_issue.name %></td>
                                      <td><%=p.date%></td>
                                      <td><%=p.crm_determination.determination%></td>
                                  </tr>
                                  <%end%>
                                  
                              </tbody>

                      </table>

        </div>
                  </div>
                </div>
    </div>
  </div>






      <div class="row clearfix">
          <div class="col-md-12 column text-left">
          <div class="col-md-12 column text-left">
        <div class="col-md-4 column">

<div class="panel panel-default">
                  <div class="panel-heading">
                          <a type="button" class="btn btn-info btn-xs pull-right" href="#test_modal" data-toggle="modal" id="showmodal">Add Image</a>
                    <h3 class="panel-title"><%=  link_to('Issue/Scheme Determinations ', { :controller => 'c_posts', :action => 'index', :citizen_id => @citizen.id}, :class => '#')  %> <span class="badge"><%= @citizen.crm_assignments.count%></span></a>
                    </h3>

                  </div>
                  <div class="panel-body">
                     <table class="table table-hover table-striped tablesorter display" >
                      <thead>
                                      <tr>
                                      <td> Issue/Scheme </td>
                                      <td> Date of Last Meeting </td>
                                      <td> Determination </td>

                     </tr>
                  </thead>
                  <tbody>   



                                    <% @citizen.crm_assignments.each do |p| %>
                                    <% if p.crm_meetings.present? %>
                                    <%case p.crm_meetings.order(' date DESC').first.crm_determination.determination  %>
                                    <%when "Negative"%>
                                    <tr class="danger">
                                      <td><%= p.crm_issue.name %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.date %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.crm_determination.determination %></td>
                                    <%when "Positive"%>
                                    <tr class="success">
                                      <td><%=  link_to(p.crm_issue.name, { :controller => 'c_posts', :action => 'index', :citizen_id => @citizen.id}, :class => '#')  %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.date %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.crm_determination.determination  %></td>
                                      <%when "Neutral"%>
                                    <tr class="warning">
                                      <td><%= p.crm_issue.name %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.date %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.crm_determination.determination  %></td>
                                      <%when "Undecided"%>
                                    <tr class="info">
                                      <td><%= p.crm_issue.name %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.date %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.crm_determination.determination  %></td>
                                      <%when "Positive"%>
                                    <tr class="default">
                                      <td><%= p.crm_issue.name %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.date %></td>
                                      <td><%= p.crm_meetings.order(' date DESC').first.crm_determination.determination  %></td>
                                  
                                  <%end%>
                                  <%end%>
                                  <%end%>
                                  </tr>
                              </tbody>

                      </table>

        </div>
                  </div>
                </div>


         
        <div class="col-md-4 column">


          <% if @citizen.crm_meetings.present? %>
                        <div class="panel panel-default">
                  <div class="panel-heading">
                  
                    <h3 class="panel-title"><%=  link_to('Meetings ', { :controller => 'c_posts', :action => 'index', :citizen_id => @citizen.id}, :class => '#')  %> <span class="badge"><%= @citizen.crm_meetings.count%></span></a>
                    </h3>
                  </div>
                  <div class="panel-body">

                    
                   <%=line_chart  [
                    {name: "Negative", data: @citizen.crm_assignments.first.crm_meetings.where(determination_id: "1").limit(10).group(:date).count},
                    {name: "Neutral", data: @citizen.crm_assignments.first.crm_meetings.where(determination_id: "2").limit(10).group(:date).count},
                    {name: "positive", data: @citizen.crm_assignments.first.crm_meetings.where(determination_id: "3").limit(10).group(:date).count},
                    {name: "Undecided", data: @citizen.crm_assignments.first.crm_meetings.where(determination_id: "4").limit(10).group(:date).count},
                    {name: "Unknown", data: @citizen.crm_assignments.first.crm_meetings.where(determination_id: "5").limit(10).group(:date).count},
                      ], colors: ["#e74c3c","#f39c12", "#18bc9c","#3498db","grey"]
                      %>

                  </div>

                </div>
                 </div>
  
                <% else %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                  
                    <h3 class="panel-title">Meetings <span class="badge"><%= @citizen.crm_meetings.count%></span></a>
                    </h3>
                  </div>
                  <div class="panel-body">

                   This Person has no meetings to chart

                  </div>

                </div>

        </div>
  
        <%end%>
                <div class="col-md-4 column">

                        <div class="panel panel-default">
                  <div class="panel-heading">
                  <a href="#" class="btn btn-info btn-xs pull-right">Add New</a>
                  <h3 class="panel-title"><%=  link_to('All Associated Issues/Schemes', { :controller => 'c_posts', :action => 'index', :citizen_id => @citizen.id}, :class => '#')  %> 
                    </h3>
                  </div>
                  <div class="panel-body">
                     <table class="table table-hover table-striped tablesorter display" >
                      <thead>
                                      <tr>
                                          <th>Issue/Scheme</th>
                                      <th>Client</th>
                                      <th>Status</th>
                                      <th></th>

                     </tr>
                  </thead>
                  <tbody>

                                    <% @citizen.crm_assignments.each do |p| %>
                                    <tr>
                                      <td><%=p.crm_issue.name %></td>
                                      <td><%=p.crm_issue.organisation.name%></td>
                                      <td><%=p.crm_issue.status%></td>
                                      <td><button class="btn btn-primary btn-xs"><i class="fa fa-plus-square">&nbsp</i><%= link_to("Meeting",{:controller => 'crm_meetings', :action => 'cnewmeeting', :id => p.id}, :class => 'action cnewmeeting') %></button></td>
                                  </tr>
                                  <%end%>
                                  
                              </tbody>

                      </table>

        </div>
                  </div>
                </div>
    </div>
  </div>
</div>
</div>
<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<div class="modal" id="test_modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Edit Profile</h4>
        </div>
        <div class="modal-body">
                     <h2><%="Edit "+ @citizen.fullname %> </h2>


          <%= bootstrap_form_for(:citizen, :url => {:action => 'update', :id => @citizen.id}) do |f| %>

          <div class="container-fluid well span6">
            <div class="row-fluid">
                  <div class="span2" >
                  <%= image_tag @citizen.avatar.url(:medium),  :class => "img-rounded img-responsive" %>
                  </div>
                <%if @citizen.prefix.present? %>
                <br>
            <%= f.text_field :prefix, label: "Title"  %>
                <% else %>
                <div class="form-group has-warning">
                <%= f.text_field :prefix, label: "Title", placeholder: "This field has no information why not add some ?"  %>
                </div>
                <%end%>
            <%= f.text_field :first_name, label: "First Name"  %>
            <%= f.text_field :last_name, label: "First Name" %>
            <%= f.collection_select :organisation_id, Organisation.all, :id, :name %>
            <%= f.date_field :dob  %>
            <%= f.text_area :notes  %>
            <%= f.file_field :avatar %>
          <%= f.submit "Update Citizen" , class: "btn btn-success" %>
     <%end%>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class=""btn btn-primary"">Close</a>
        </div>
      </div>
    </div>
</div>