<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="citizens new">
<div class="row">

          <div class="col-lg-12">

            <div class="panel panel-default">
              <div class="panel-body">

                            <h2><%="Edit "+ @organisation.name %> </h2>
              <div class="panel-body">

<%= bootstrap_form_for(:organisation, :url => {:action => 'update', :id => @organisation.id}) do |f| %>

<div class="container-fluid well span6">
  <div class="row-fluid">
        <div class="span2" >
        <%= image_tag @organisation.avatar.url,  :class => "img-rounded img-responsive" %>
        </div>
  <%= f.text_field :name, label: "Name"  %>
  <%= f.text_field :short_name, label: "Short Name"  %>
  <%= f.text_field :org_type, label: "Organisation Type"   %>
  <%= f.text_field :abbreviation, label: "Abbreviation"   %>
  <%= f.check_box  :extinct,{label: "Extinct"}, 1,0 %>
  <%= f.check_box  :client,{label: "Client"}, 1,0 %>
  <%= f.date_field :founded , label: "Founded"   %>
  <%= f.text_area :notes  %>
  <%= f.file_field :avatar %>
<%= f.submit "Update" , class: "btn btn-success" %>

</div>
</div>
</div>
</div>            
</div>


</div>
</div>
<%end%>
