

<% @page_title = "Organisation List" %>

 <h1>Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<div class="row">
            <div class="panel panel-default">
              <div class="panel-body">

              <div class="jumbotron">
 

<div class="citizens index">
    <div>
        <button type="button" class="btn btn-primary"><%= link_to("Create New Organisation", {:action => 'new'}, :class => 'action new')
          %></button>

<button type="button" class="btn btn-primary"><%= link_to("Create New Organisation", {:action => 'selectimport'}, :class => 'action new')
          %></button>

        <br></br>
    </div>

    <table class="table table-striped table-hover " id="organisation_table" class="display">

    <thead>
                    <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>actions</th>
   
   </tr>
</thead>
<tbody>

                  <% @organisations.each do |p| %>
                  <tr>
                    <td><%=p.name%></td>
                    <td><%=p.org_type%></td>
                    <td>
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-sm"><%= link_to("Profile",{:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-primary btn-sm "><%= link_to("edit",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-primary btn-sm"><%= link_to("Delete",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <%end%>
                
            </tbody>

    </table>

</div>
</div>
            </div>            
          </div>
<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
                    
                    
