
<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="citizens new">


          <div class="col-lg-12">

<div class="panel panel-default">

              <div class="panel-heading">Create New Organisation</div>
              <div class="panel-body">



<%= bootstrap_form_for @organisation, :url => {:action => 'create'}, :html => { :multipart => true } do |f| %>
  <%= f.text_field :name, label: "Name"  %>
  <%= f.text_field :short_name, label: "Short Name"  %>
    <button type="button" class="btn btn-default btn-xs" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-content="<strong>Presets For Type include:</strong><br/>Political Party<br/>Government Department<br/>Assembly Committee" data-original-title="" title="">?</button>
  <%= f.text_field :org_type, label: "Organisation Type"  %>

  <%= f.text_field :abbreviation, label: "Abbreviation"   %>
  <%= f.check_box  :extinct,{label: "Extinct"}, 1,0 %>
  <%= f.check_box  :client,{label: "Client"}, 1,0 %>
  <%= f.date_field :founded , label: "Founded"   %>
  <%= f.text_area :notes  %> 
  <%= f.file_field :avatar %>
<%= f.submit "Create" , class: "btn btn-success" %>

</div>
</div>
</div>
</div>            
</div>


</div>
</div>
<%end%>
<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
