<%= bootstrap_form_tag :url => {:action => 'import', :controller => 'organisations' , :class => '#'} do |f|%>

 <%= f.file_field :file %>



    <%= submit_tag "Add" , class: "btn btn-success" %>

 
    <% end %>
