    <%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= bootstrap_form_tag :url => {:action => 'add_citizens', :controller => 'organisations' , :class => '#'} do %>

 <%= collection_select(:organisation, :id, Organisation.all, :id, :name) %>
 Add following people to <%= @organisation.name %>
 <table class="table table-striped table-hover " id="product_lists" class="display">
    <thead>
                    <tr>
                    <th></th>
                    <th>Name</th>

                    <th>actions</th>
   
   </tr>
</thead>
<tbody>

                  <% @sc.each do |p| %>
                  <tr>
                    <td><%= check_box_tag "citizen_ids[]", p.id %></td>
                    <td><%=p.fullname%></td>
                    <td>
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-sm"><%= link_to("Profile",{:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-primary btn-sm "><%= link_to("edit",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-primary btn-sm"><%= link_to("Delete",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <%end%>
                
            </tbody>

    </table>

    
    <%= submit_tag "Add" , class: "btn btn-success" %>
    <% end %>


