<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% hello = [1,2,3,4,5,5,6,7] %>

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Menu</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Biographical Reports</li>
          <li><a href="#">Short Report</a></li>
          <li><a href="#">Condensed Report</a></li>
          <li><a href="#">Long Report</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Crm Reports</li>
          <li><a href="#">Full Engagement Report</a></li>
          <li><a href="#">Report by Issue</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#affiliations">Link</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>
    <ul class="nav navbar-nav navbar-right">

      </li>
    </ul>
  </div>
</div>


    <div class="col-md-12 column text-left">

        <div class="col-md-3 column text-left">
            <div class="container-fluid well span4">
             <div class="row-fluid">
                 <div class="span4" >

                 <h3><%= @organisation.name%></h>
                    <br>
                    <br>
              <%= image_tag @organisation.avatar.url(:medium),  :class => "img-rounded img-responsive" %>

                </div>
        
                <div class="span8">
                    <h6><%= @organisation.short_name %></h6>
                    <h6><%=@organisation.org_type%></h6>
                    <h6><%=@organisation.client%></h6>
                    <h6><%=@organisation.abbreviation%></h6>
                    <h6><%=@organisation.org_type%></h6>
                    <h6><a href="#">More... </a></h6>
                </div>
        
                <div class="span2">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            Action 
                        <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                    <ul class="dropdown-menu" >
                        <li><a href="#"><span class="icon-wrench"></span><%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link',) %></a></li>
                     <li><a><span class="icon-trash"></span> <%= link_to("Delete", {:action => 'delete', :id => @organisation.id}, :class => 'action delete')%></a></li>
                     <li><%= link_to("Profile",{:action => 'report_long', :id => @organisation.id}, :class => 'action report_long') %></li>
                    </ul>

            </div>
        </div>
  </div>
</div>


        </div>
        <div class="col-md-6 column">
        </div>

            <div class="container-fluid well span8">
               <div class="row-fluid">
                 <div class="span2" >
                <h3><i class="fa fa-list"></i> Contact Details</h3>
                <div>

                  <% if @organisation.o_contacts.present? %>

                <%@organisation.o_contacts.each do |c|%>
                                
            <div class="col-lg-2 text-left">
               <div class="row-fluid">
                 <div class="span2" >
              
                <h4><i class="fa fa-home"></i> <%=  link_to(c.location, { :controller => 'p_contacts', :action => 'edit', :id => c.id}, :class => 'action edit')  %> 

                <% if c.public == true %> 
                    <%="(Public)"%> 
                    <%else%>
                    <%="(Private)"%>
                    <% end %>

                    </h4></li> 
                  <ul>

                    

                  <% if c.address_one.present? %>
                    <li><%=c.address_one%></li>
                    <% end %>

                    <% if c.address_two.present? %>
                    <li><%=c.address_two%></li>
                    <% end %>

                    <% if c.city.present? %>
                    <li><%=c.city%></li>
                    <% end %>

                    <% if c.postcode.present? %>
                    <li><%=c.postcode%></li>
                    <% end %>

                  </ul>

                  <% if c.telephone.present? %>
                  <i class="fa fa-phone"></i><%=  " "+c.telephone %>
                  <% end%>

                  <% if c.email.present? %>
                  <br><i class="fa fa-envelope-o"></i><%=" "%><%=  mail_to c.email%>
                  <% end%>

                  <% if c.website.present? %>
                  <br><i class="fa fa-globe"></i><%=" "%><%= link_to c.website, "http://#{c.website}" ,:target => "blank" %>
                  <% end%>
                <%end%>
                </div>
                </div>
                </div>

                <% else %>
                  <div class="alert alert-dismissable alert-warning">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <h4>Warning!</h4>
                  <p>This organisation currently has no contact details in the database <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
                  </div>
                <% end %>

              </div>
            </div>            
          </div>

</div>


</div>
<div class="col-md-12 column">

                        <div class="panel panel-default" id="staff">
                  <div class="panel-heading">

                  <%=  button_to('Add New Staff/Member', {:action => 'select_citizens', :id => @organisation.id}, :class => "btn btn-info btn-xs pull-right")  %>
                  <h3 class="panel-title">Staff / Members
                    </h3>
                  </div>
                  <div class="panel-body">
                     <table class="table table-hover table-striped tablesorter display"  >
                      <thead>
                                      <tr>
                                          <th>Name</th>
                                      <th>Title</th>
                                      <th>Role</th>
                                      <th>Start date</th>
                                      <th>End date</th>

                     </tr>
                  </thead>
                  <tbody>
                                  <% if @organisation.c_posts.present? %>
                                    <% @organisation.c_posts.each do |p| %>
                                    <tr>
                                      <td><%=p.citizen.fullname %></td>
                                      <td><%=p.title%></td>
                                      <td><%=p.role%></td>
                                      <td><%=p.start_date%></td>
                                      <td><%=p.end_date%></td>
                                  </tr>
                                  <%end%>
                                  <% else %>
                                  This Organisation has no staff or members associated with it. 

                                  
                                  <%end%>
                                  
                              </tbody>

                      </table>

        </div>
                  </div>
                </div>
                <div class="col-md-12 column">
  <div class="panel panel-default" id="affiliations">
                  <div class="panel-heading">

                   
                  <a href="#" class="btn btn-info btn-xs pull-right">Add New</a>
                  <h3 class="panel-title">Affiliates/Associations
                    </h3>
                  </div>
                  <div class="panel-body">
                     <table class="table table-hover table-striped tablesorter display" id="organisation_table" >
                      <thead>
                                      <tr>
                                      <th></th>
                                      <th>Name</th>
                                      <th>Profile</th>


                     </tr>
                  </thead>
                  <tbody>

                                    <% @organisation.citizens.each do |p| %>
                                    <tr>
                                      <td><%= image_tag p.avatar.url(:smallthumb),  :class => "img-rounded img-responsive" %>
                                      <td><%=p.fullname %></td>
                                      <td><%=p.profile_title%></td>
                                  </tr>
                                  <%end%>
                                  
                              </tbody>

                      </table>

        </div>
                  </div>
                </div>

                <!-- start of element -->
                <% if @organisation.client? %>

<div class="col-md-12 column">
  <div class="panel panel-default" id="affiliations">
                  <div class="panel-heading">
                  <a href="#" class="btn btn-info btn-xs pull-right">Add New</a>
                  <h3 class="panel-title"><%=  link_to('Issues and Schemes', { :controller => 'crm_meetings', :action => 'index', :citizen_id => @organisation.id}, :class => '#')  %> 
                    </h3>
                  </div>
                  <div class="panel-body">
                     <table class="table  table-bordered tablesorter display" id="organisation_table"  >
                      <thead >
                                      <tr class="text center">
                                      <th >Issue</th>
                                      <th >Status</th>
                                      <th class="text-center">Negative</th>
                                      <th class="text-center">Neutral</th>
                                      <th class="text-center">Positive</th>
                                      <th class="text-center">Undecided</th>
                                      <th class="text-center">Unknown</th>




                     </tr>
                  </thead>
                  <tbody>

                                    <% @organisation.crm_issues.each do |p| %>
                                    <tr>
                                      <td><%= p.name %>
                                      <td><%=p.status %></td>
                                      <td class="alert alert-danger text-center"><%=p.crm_assignments.where(recent_determination: "Negative").count%></td>
                                      <td class="alert alert-warning text-center"><%=p.crm_assignments.where(recent_determination: "Neutral").count%></td>
                                      <td class="alert alert-success text-center"><%=p.crm_assignments.where(recent_determination: "Positive").count%></td>
                                      <td class="alert alert-info text-center"><%=p.crm_assignments.where(recent_determination: "Undecided").count%></td>
                                      <td bgcolor="grey" class="text-center"><%=p.crm_assignments.where(recent_determination: "Unknown").count%></td>
                                  </tr>
                                  <%end%>
                                  
                              </tbody>

                      </table>

        </div>
                  </div>
                </div>
                <% end %>

                <% if @organisation.client? %>

<div class="col-md-12 column">
  <div class="panel panel-default" id="affiliations">
                  <div class="panel-heading">
                  <a href="#" class="btn btn-info btn-xs pull-right">Add New</a>
                  <h3 class="panel-title"><%=  link_to('Issues and Schemes', { :controller => 'crm_meetings', :action => 'index', :citizen_id => @organisation.id}, :class => '#')  %> 
                    </h3>
                  </div>
                  <div class="panel-body">
                     <table class="table  table-bordered tablesorter display" id="organisation_table"  >
                      <thead >
                                      <tr class="text center">
                                      <th >Issue</th>
                                      <th >Status</th>
                                      <th class="text-center">Negative</th>
                                      <th class="text-center">Neutral</th>
                                      <th class="text-center">Positive</th>
                                      <th class="text-center">Undecided</th>
                                      <th class="text-center">Unknown</th>




                     </tr>
                  </thead>
                  <tbody>

                                    <% @organisation.crm_issues.each do |p| %>
                                    <tr>
                                      <td><%= p.name %>
                                      <td><%=p.status %></td>
                                      <td class="alert alert-danger text-center"><%=p.crm_assignments.where(recent_determination: "Negative").count%></td>
                                      <td class="alert alert-warning text-center"><%=p.crm_assignments.where(recent_determination: "Neutral").count%></td>
                                      <td class="alert alert-success text-center"><%=p.crm_assignments.where(recent_determination: "Positive").count%></td>
                                      <td class="alert alert-info text-center"><%=p.crm_assignments.where(recent_determination: "Undecided").count%></td>
                                      <td bgcolor="grey" class="text-center"><%=p.crm_assignments.where(recent_determination: "Unknown").count%></td>
                                  </tr>
                                  <%end%>
                                  
                              </tbody>

                      </table>

        </div>
                  </div>
                </div>
                <% end %>
                <!-- end of page -->
        <% hello.each do |p| %>

           <%= p %>

           <% end %> 

    </div>
  </div>
    </div>
  
  </div>

  
<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>