<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="citizens new">
<div class="row">

          <div class="col-lg-12">

            <div class="panel panel-default">
              <div class="panel-body">

<div class="panel panel-default">
 
              <div class="panel-heading"><h3><%="New Meeting with " + @crmmeeting.crm_assignment.citizen.fullname + " concerning " + @crmmeeting.crm_issue.name %> </h3> </div>
              <div class="panel-body">

<%= bootstrap_form_for @crmmeeting, :url => {:action => 'create'}, :html => { :multipart => false } do |f| %>
  <%= f.date_field :date, label: "Date"  %>
  <%= f.collection_select :determination_id, CrmDetermination.all, :id, :determination %>
  <%= f.text_area :notes  %>
  <%= f.hidden_field :crm_assignment_id , :value => @crmmeeting.crm_assignment_id %>
<%= f.submit "Create" , class: "btn btn-success" %>

</div>
</div>
</div>
</div>            
</div>


</div>
</div>
<%end%>
