
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% @page_title = "Issues and Schemes" %>

 <h1>Jumbotron</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<div class="row">
            <div class="panel panel-default">
              <div class="panel-body">

              <div class="jumbotron">
 

<div class="citizens index">
    <div>
        <button type="button" class="btn btn-primary"><%= link_to("Add New Issue or Scheme", {:action => 'new'}, :class => 'action new')  %></button>
        <br></br>
    </div>

    <table class="table table-striped table-hover " id="issue_table" class="display">

    <thead>
                    <tr>
                    <th>Name</th>
                    <th>Client</th>
                    <th>Status</th>
                    <th>Neg.</th>
                    <th>Neu.</th>
                    <th>Pos.</th>
                    <th>Und.</th>
                    <th>Unk.</th>
                    <th></th>
   
   </tr>
</thead>
<tbody>

                  <% @issues.each do |p| %>
                  <tr>
                    <td><%=p.name%></td>
                    <td><%=p.organisation.name%></td>
                    <td><%=p.status%></td>
                    <td class="danger text-center"><%=p.crm_assignments.where(recent_determination: "Negative").count%></td>
                                      <td class="warning text-center"><%=p.crm_assignments.where(recent_determination: "Neutral").count%></td>
                                      <td class="success text-center"><%=p.crm_assignments.where(recent_determination: "Positive").count%></td>
                                      <td class="info text-center"><%=p.crm_assignments.where(recent_determination: "Undecided").count%></td>
                                      <td class="unknown text-center"><%=p.crm_assignments.where(recent_determination: "Unknown").count%></td>
                    <td>
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-sm"><%= link_to("Dash",{:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-primary btn-sm "><%= link_to("edit",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-primary btn-sm"><%= link_to("Delete",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <%end%>
                
            </tbody>

    </table>

</div>
</div>
            </div>            
          </div>
<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

                    
                    
