<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-link') %>

<div class="citizens new">
<div class="row">

          <div class="col-lg-12">

            <div class="panel panel-default">
              <div class="panel-body">

<div class="panel panel-default">

              <div class="panel-heading">Create Issue or Scheme</div>
              <div class="panel-body">

<%= bootstrap_form_for @crmissue, :url => {:action => 'create'}, :html => { :multipart => true } do |f| %>
  <%= f.text_field :name, label: "Issue/Scheme Name"  %>
  <%= f.collection_select :organisation_id, Organisation.clients, :id, :name, :selected => @defaultorg %>
  <%= f.collection_select :status, @status, :to_s, :to_s, include_blank: false %>
<%= f.submit "Create" , class: "btn btn-success" %>

</div>
</div>
</div>
</div>            
</div>


</div>
</div>
<%end%>
