<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<% @page_title = @issue.name %>
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="fa fa-list"></i>&nbsp;Menu</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Biographical Reports</li>
          <li><a href="#">Short Report</a></li>
          <li><a href="#">Condensed Report</a></li>
          <li><a href="#">Long Report</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Crm Reports</li>
          <li><a href="#">Full Engagement Report</a></li>
          <li><a href="#">Report by Issue</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Add New People</li>
          <li><a href="#">Add by Organisation</a></li>
          <li><a href="#">Add from List</a></li>
          <li class="divider"></li>
          <li><a href="#">Add Single</a></li>
          <li><a href="#">Add Multiple</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#determinations">Determinations</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#meetings">Meetings</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#affiliations">Assigned</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      </li>
    </ul>
  </div>
</div>
<!-- end of menu -->

<div class="row">
<div class="col-sm-2">
<div class="jumbotron">
<%= image_tag @issue.organisation.avatar.url(:medium), :class => "img-rounded img-responsive" %>
</div>
</div>

<div class="col-sm-10">
<div class="jumbotron">
  <h2><%= @issue.name %></h2>
  <p><strong>Client: </strong> <%= @issue.organisation.name %></p>
  <p><strong>Status: </strong> <%= @issue.status %></p>
  <p><strong>Number Assigned: </strong> <%= @issue.crm_assignments.count %></p>
</div>
</div>
</div>


<!-- end of jumbo -->


<div class="container-fluid">
<div class="col-sm-1"></div>
		<div class="col-sm-2">
    	    <div class="hero-widget alert-danger">
                <div class="icon">
                     <i class="fa fa-minus-circle"></i>
                </div>
                <!-- End of element -->
                <div>
                    <var><%=@issue.crm_assignments.where(recent_determination: "Negative").count%></var>
                    <label>Negative</label>
                </div>
                <div class="options">
                    <a href="javascript:;" class="btn btn-danger btn-md"><i class="fa fa-ellipsis-v"></i>&nbsp;&nbsp;View</a>
                </div>
            </div>
		</div>
		<!-- End of element -->
        <div class="col-sm-2">
            <div class="hero-widget alert-warning">
                <div class="icon">
                     <i class="fa fa-circle-o"></i>
                </div>
                <div class="text-default">
                    <var><%=@issue.crm_assignments.where(recent_determination: "Neutral").count%></var>
                    <label>Neutral</label>
                </div>
                <div class="options">
                    <a href="javascript:;" class="btn btn-warning btn-md"><i class="fa fa-ellipsis-v"></i>&nbsp;&nbsp;View</a>
                </div>
            </div>
		</div>
		<!-- End of element -->
        <div class="col-sm-2">
            <div class="hero-widget alert-success">
                <div class="icon">
                     <i class="fa fa-plus-circle"></i>
                </div>
                <div>
                    <var><%=@issue.crm_assignments.where(recent_determination: "Positive").count%></var>
                    <label>Positive</label>
                </div>
                <div class="options">
                    <a href="javascript:;" class="btn btn-success btn-md"><i class="fa fa-ellipsis-v"></i>&nbsp;&nbsp;View</a>
                </div>
            </div>
    	</div>
    	<!-- End of element -->
        <div class="col-sm-2">
            <div class="hero-widget alert-info">
                <div class="icon">
                     <i class="fa fa-question-circle"></i>
                </div>
                <div >
                    <var><%=@issue.crm_assignments.where(recent_determination: "Undecided").count%></var>
                    <label>Undecided</label>
                </div>
                <div class="options">
                    <a href="javascript:;" class="btn btn-info btn-md"><i class="fa fa-ellipsis-v"></i>&nbsp;&nbsp;View</a>
                </div>
            </div>
		</div>
		<!-- End of element -->
		<div class="col-sm-2">
            <div class="hero-widget alert-unknown">
                <div class="icon">
                     <i class="fa fa-exclamation-circle"></i>
                </div>
                <div>
                    <var><%=@issue.crm_assignments.where(recent_determination: "Unknown").count%></var>
                    <label >Unknown</label>
                </div>
                <div class="options">
                    <a href="javascript:;" class="btn btn-unknown btn-md"><i class="fa fa-ellipsis-v"></i>&nbsp;&nbsp;View</a>
                </div>
            </div>
		</div>

<div class="col-sm-1"></div>
	</div>
</div>

		<!-- End of element -->

<!-- End of page -->

<div class="col-md-12 column">

                        <div class="panel panel-default" id="staff">
                  <div class="panel-heading">

                  
                  <h3 class="panel-title">Recent Meeting and Determinations
                    </h3>
                  </div>
                  <div class="panel-body">
	
<%=line_chart  [
                    {name: "Negative", data: @issue.crm_assignments.where(recent_determination: "Negative").group(:recent_determination_date).count},
                    {name: "Neutral", data: @issue.crm_meetings.where(determination_id: "2").limit(10).group(:date).count},
                    {name: "Positive", data: @issue.crm_meetings.where(determination_id: "3").limit(10).group(:date).count},
                    {name: "Undecided", data: @issue.crm_assignments.where(recent_determination: "Undecided").group(:recent_determination_date).count},
                    {name: "Unknown", data: @issue.crm_meetings.where(determination_id: "5").limit(10).group(:date).count},
                      ], colors: ["#e74c3c","#f39c12", "#18bc9c","#3498db","grey"], min: 1
                      %>
                      </div>
                      </div>
                      </div>

<!-- end of element  -->
                      <div class="col-md-12 column">

                        <div class="panel panel-default" id="determinations">
                  <div class="panel-heading">

                  
                  <h3 class="panel-title">List of Determinations
                    </h3>
                  </div>
                  <div class="panel-body">
	
 <table class="table table-striped table-hover " id="issue_table" class="display">

    <thead>
                    <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Affiliation</th>
                    <th>Determination</th>
                    <th>Date of Last Meeting</th>
                    <th>Number of Meetings</th>
                    <th></th>
   
   </tr>
</thead>
<tbody>

                  <% @issue.crm_assignments.each do |p| %>
                  <%case p.recent_determination %>
                  <% when "Positive" %>
                  <tr class="success">
                  	<td style="vertical-align:middle;"><%= image_tag p.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive"%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.fullname%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination_date%></td>
                    <td style="vertical-align:middle;"><%=p.crm_meetings.count%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-success btn-sm"><%= link_to("view",{:controller => 'crm_assignments',:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-success btn-sm "><%= link_to("Add Meeting",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-success btn-sm"><%= link_to("Profile",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <% when "Negative" %>
                  <tr class="danger">
                  <td><%= image_tag p.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive"%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.fullname%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination_date%></td>
                    <td style="vertical-align:middle;"><%=p.crm_meetings.count%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                       <button type="button" class="btn btn-danger btn-sm"><%= link_to("view",{:controller => 'crm_assignments',:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-danger btn-sm "><%= link_to("Add Meeting",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-danger btn-sm"><%= link_to("Profile",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <% when "Neutral" %>
                  <tr class="warning">
                  <td><%= image_tag p.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive"%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.fullname%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination_date%></td>
                    <td style="vertical-align:middle;"><%=p.crm_meetings.count%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                       <button type="button" class="btn btn-warning btn-sm"><%= link_to("view",{:controller => 'crm_assignments',:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-warning btn-sm "><%= link_to("Add Meeting",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-warning btn-sm"><%= link_to("Profile",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <% when "Undecided" %>
                  <tr class="info">
                  <td><%= image_tag p.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive"%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.fullname%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination_date%></td>
                    <td style="vertical-align:middle;"><%=p.crm_meetings.count%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                       <button type="button" class="btn btn-info btn-sm"><%= link_to("view",{:controller => 'crm_assignments',:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-info btn-sm "><%= link_to("Add Meeting",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-info btn-sm"><%= link_to("Profile",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <% when "Unknown" %>
                  <tr class="unknown">
                  <td><%= image_tag p.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive"%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.fullname%></td>
                    <td style="vertical-align:middle;"><%=p.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination%></td>
                    <td style="vertical-align:middle;"><%=p.recent_determination_date%></td>
                    <td style="vertical-align:middle;"><%=p.crm_meetings.count%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                       <button type="button" class="btn btn-unknown btn-sm"><%= link_to("view",{:controller => 'crm_assignments',:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-unknown btn-sm "><%= link_to("Add Meeting",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-unknown btn-sm"><%= link_to("Profile",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <%end%>
                <%end%>
                
            </tbody>

    </table>
                      </div>
                      </div>
                      </div>

                        <!-- end of table -->

                        <div class="col-md-12 column">

                        <div class="panel panel-default" id="meetings">
                  <div class="panel-heading">

                  
                  <h3 class="panel-title">All Meetings
                    </h3>
                  </div>
                  <div class="panel-body">
	
 <table class="table table-striped table-hover " id="meeting_table" class="display">

    <thead>
                    <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Determination</th>
                    <th>Date</th>
                    <th>Notes</th>
                    <th></th>
   
   </tr>
</thead>
<tbody>

                  <% @issue.crm_meetings.each do |p| %>
                  <%case p.crm_determination.determination %>
                  <% when "Positive" %>
                  <tr class="success">
                  	<td style="vertical-align:middle;"><%= image_tag p.crm_assignment.citizen.avatar.url(:smallthumb) ,:class => "img-rounded img-responsive" %></td>
                    <td style="vertical-align:middle;"><%=p.crm_assignment.citizen.fullname%><br><%=p.crm_assignment.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.crm_determination.determination %></td>
                    <td style="vertical-align:middle;"><%=p.date%></td>
                    <td style="vertical-align:middle;"><%=p.notes%></td>
                                        <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-success btn-sm"><%= link_to("Dash",{:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-success btn-sm "><%= link_to("edit",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-success btn-sm"><%= link_to("Delete",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <% when "Negative" %>
                  <tr class="danger">
                  	<td style="vertical-align:middle;"><%= image_tag p.crm_assignment.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive" %></td>
                    <td style="vertical-align:middle;"><%=p.crm_assignment.citizen.fullname%><br><%=p.crm_assignment.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.crm_determination.determination %></td>
                    <td style="vertical-align:middle;"><%=p.date%></td>
                    <td style="vertical-align:middle;"><%=p.notes%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-danger btn-sm"><%= link_to("Dash",{:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-danger btn-sm "><%= link_to("edit",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-danger btn-sm"><%= link_to("Delete",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <% when "Neutral" %>
                  <tr class="warning">
                  	<td style="vertical-align:middle;"><%= image_tag p.crm_assignment.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive" %></td>
                    <td style="vertical-align:middle;"><%=p.crm_assignment.citizen.fullname%><br><%=p.crm_assignment.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.crm_determination.determination %></td>
                    <td style="vertical-align:middle;"><%=p.date%></td>
                    <td style="vertical-align:middle;"><%=p.notes%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-warning btn-sm"><%= link_to("Dash",{:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-warning btn-sm "><%= link_to("edit",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-warning btn-sm"><%= link_to("Delete",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <% when "Undecided" %>
                  <tr class="info">
                  	<td style="vertical-align:middle;"><%= image_tag p.crm_assignment.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive" %></td>
                    <td style="vertical-align:middle;"><%=p.crm_assignment.citizen.fullname%><br><%=p.crm_assignment.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.crm_determination.determination %></td>
                    <td style="vertical-align:middle;"><%=p.date%></td>
                    <td style="vertical-align:middle;" class="col-md-4" ><%=p.notes%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-info btn-sm"><%= link_to("Dash",{:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-info btn-sm "><%= link_to("edit",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-info btn-sm"><%= link_to("Delete",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <% when "Unknown" %>
                  <tr class="unknown">
                  	<td style="vertical-align:middle;"><%= image_tag p.crm_assignment.citizen.avatar.url(:smallthumb),:class => "img-rounded img-responsive" %></td>
                    <td style="vertical-align:middle;"><%=p.crm_assignment.citizen.fullname%><br><%=p.crm_assignment.citizen.organisation.name%></td>
                    <td style="vertical-align:middle;"><%=p.crm_determination.determination %></td>
                    <td style="vertical-align:middle;"><%=p.date%></td>
                    <td style="vertical-align:middle;"><%=p.notes%></td>
                    <td style="vertical-align:middle;">
                        <ul class="nav nav-pills">
                        <div class="btn-group">
                      <button type="button" class="btn btn-unknown btn-sm"><%= link_to("Dash",{:action => 'show', :id => p.id}, :class => 'action show') %></button>
                      <button type="button" class="btn btn-unknown btn-sm "><%= link_to("edit",{:action => 'edit', :id => p.id}, :class => 'action edit') %></button>
                      <button type="button" class="btn btn-unknown btn-sm"><%= link_to("Delete",'#', :class => 'action delete') %></button>
                        </div>
                        </ul>
                    	
                    </td>
                </tr>
                <%end%>
                <%end%>
                
            </tbody>

    </table>
                      </div>
                      </div>
                      </div>

                        <!-- end of table -->




<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>