<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

          <div class="col-lg-12">

            <div class="panel panel-default">
              <div class="panel-body">

<div class="panel panel-default">

              <div class="panel-heading">Create new contact for <%=@citizen.fullname %></div>
              <div class="panel-body">

<%= bootstrap_form_for @newcontact, :url => {:action => 'create'}, :html => { :multipart => true } do |f| %>
<%= f.collection_select :citizen_id, Citizen.all, :id, :fullname, :selected => @citizen.id ,label: "Person" %>
<%= f.text_field :contact_type, label: "Type"  %>
<%= f.text_field :location, label: "Location"  %>
<%= f.text_field :address_one, label: "Address One"  %>
<%= f.text_field :address_one, label: "Address One"  %>
<%= f.text_field :address_two, label: "Address Two"  %>
<%= f.text_field :address_three, label: "Address Three"  %>
<%= f.text_field :city, label: "Town/City"  %>
<%= f.text_field :postcode, label: "Postcode"  %>
<%= f.text_field :telephone, label: "Telephone"  %>
<%= f.text_field :email, label: "Email"  %>
<%= f.text_field :website, label: "Website"  %>
<%= f.check_box  :public,{label: "Public"}, 1,0 %>
<%= f.submit "Create" , class: "btn btn-success" %>

</div>
</div>
</div>
</div>            
</div>


</div>
</div>
<%end%>
