
   <h2>Address Book</h2>
        <div class="col-lg-12">
            <input type="search" class="form-control" id="input-search" placeholder="Search Address Book" >
            <br>
        </div>
        <div class="row"> </div>
        <div class="searchable-container">
        <!-- start -->

        <% @contact.each do |c| %>
            <div class="items col-xs-12 col-sm-6 col-md-6 col-lg-6 clearfix">
               <div class="info-block block-info clearfix">
                    <div class="square-box pull-left">
                        <span><%= image_tag c.citizen.avatar.url(:medium),  :class => "img-rounded img-responsive" %></span>
                    </div>
                    <h4><%= c.citizen.fullname %></h4>
                    <h5><strong><%= c.citizen.profile_title %></strong></h5>
                    <p><%= c.contact_type %> | <%= c.location %></p>
                    <% if c.address_one.present? %>
                    <p><i class="fa fa-home"></i> <%= c.address_one %> | <%= c.address_two %> | <%= c.city %> | <%= c.postcode %></p>
                    <%end%>
                    <% if c.telephone.present? %>
                    <p><i class="fa fa-phone"></i> <%= c.telephone %></p>
                    <%end%>
                    <% if c.email.present? %>
                    <span><i class="fa fa-envelope"></i> <%= mail_to c.email %></spann>
                    <%end%>
                    <% if c.website.present? %>
                    <span> | <i class="fa fa-globe"></i><%= link_to c.website %></span>
                    <%end%>
                </div>
            </div>
            <%end%>
            <!-- end  -->
        </div>
  </div>
</div>

<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
                    
                    
