<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="fa fa-list"></i>&nbsp;Menu</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Biographical Reports</li>
          <li><a href="#">Short Report</a></li>
          <li><a href="#">Condensed Report</a></li>
          <li><a href="#">Long Report</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Crm Reports</li>
          <li><a href="#">Full Engagement Report</a></li>
          <li><a href="#">Report by Issue</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header">Add New People</li>
          <li><a href="#">Add by Organisation</a></li>
          <li><a href="#">Add from List</a></li>
          <li class="divider"></li>
          <li><a href="#">Add Single</a></li>
          <li><a href="#">Add Multiple</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#determinations">Determinations</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#meetings">Meetings</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#affiliations">Assigned</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      </li>
    </ul>
  </div>
</div>
<!-- end of menu -->
<div class="row">
<div class="col-sm-2">
<div class="jumbotron">
<%= image_tag @assignment.citizen.avatar.url(:medium), :class => "img-rounded img-responsive" %>
<h3><%= link_to(@assignment.citizen.fullname,{:action => 'show', :id => @assignment.citizen.id}, :class => 'action show') %></h3>
<h4><%=@assignment.citizen.organisation.name%></h4>
</div>
</div>

<div class="col-sm-10">
<div class="jumbotron">
  <h2><%= @assignment.crm_issue.name %></h2>
  <p><strong>Client: </strong><%=@assignment.crm_issue.organisation.name%></p>
  <p><strong>Most Recent Meeting: </strong><%=@assignment.recent_determination_date%></p>
  <p><strong>Number Assigned: </strong></p>
  <p><strong>Number Assigned: </strong></p>
  <br>
  <%= button_to("+ Meeting",{:controller => 'crm_meetings', :action => 'cnewmeeting', :id => @assignment.id}, :class => 'btn btn-success') %></button>
</div>

<% case @assignment.recent_determination %>
<% when "Negative" %>
<div class="alert alert-danger"><strong><%=@assignment.recent_determination%> Determination</strong>

<% when "Neutral" %>
<div class="alert alert-warning"><strong><%=@assignment.recent_determination%> Determination</strong>

<% when "Positive" %>
<div class="alert alert-success"><strong><%=@assignment.recent_determination%> Determination</strong>

<% when "Undecided" %>
<div class="alert alert-info"><strong><%=@assignment.recent_determination%> Determination</strong>

<% when "Unknown" %>
<div class="alert alert-unknown"><strong><%=@assignment.recent_determination%> Determination</strong>

<% end %>

</div>
</div>
</div>
</div>
</div>


<!-- end of heading -->


<div class="container">
    <ul class="timeline">

    <% @assignment.crm_meetings.order(date: :desc).each do |p| %>
        <li class="<%= cycle("timeline", "timeline-inverted") -%>">

          <% case p.determination_id %>
          <% when 1 %>
          <div class="timeline-badge danger ">
          <i class="fa fa-minus"></i></div>
          <% when 2 %>
          <div class="timeline-badge warning">
          <i class="fa fa-circle-o"></i></div>
          <% when 3 %>
          <div class="timeline-badge success">
          <i class="fa fa-plus"></i></div>
          <% when 4 %>
          <div class="timeline-badge info">
          <i class="fa fa-question"></i></div>
          <% when 5 %>
          <div class="timeline-badge unknown ">
          <i class="fa fa-exclamation"></i></div>
          <% end%>


          <div class="timeline-panel">
            <div class="timeline-heading">

         <h4 class="timeline-title"><i class="fa fa-calendar"></i> <%= p.date.to_formatted_s(:long)%></h4>

            </div>
            <div class="timeline-body">
              <p><%= p.notes%></p>
            </div>
          </div>
        </li>
        <%end %>
      

<%= stylesheet_link_tag "application", media: "all"%>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>